.mypy_cache/
.pylint.d/
*.fxs
tmp/
ncs_cdb/
state/
logs/
setup.mk*
venv/
*.cdb
ncs-cdb
netsim
ncsc-out
storedstate
**/*.fxs
**/namespaces/*
**/load-dir/*
**/private-jar/*
**/shared-jar/*
**/src/java/build/*
**/*.pyc
*.log
